<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Google Font-->
    <link href = 'https://fonts.googleapis.com/css2?family=Poppings:wght@400;600&display=swap' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="cards">
        <div class="card card1">
            <div class="container">
                <img src="/project/home/static/image/Picture1.jpg" alt="nkc">
            </div>
            <div class="details">
                <h3>Head title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam reprehenderit, perspiciatis quae, a esse animi numquam molestias quam aliquam accusamus! .</p>
            </div>
        </div>
       
            <div class="card card2">
                <div class="container">
                    <img src="/project/home/static/image/Picture2.jpg" alt="nkc">
                </div>
                <div class="details">
                    <h3>Head title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam reprehenderit, perspiciatis quae, a esse animi numquam molestias quam aliquam accusamus! .</p>
                </div>
            </div>
         
                <div class="card card3">
                    <div class="container">
                        <img src="/project/home/static/image/Picture3.jpg" alt="nkc">
                    </div>
                    <div class="details">
                        <h3>Head title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam reprehenderit, perspiciatis quae, a esse animi numquam molestias quam aliquam accusamus! .</p>
                    </div>
                </div>

                <div class="card card3">
                    <div class="container">
                        <img src="/project/home/static/image/Picture3.jpg" alt="nkc">
                    </div>
                    <div class="details">
                        <h3>Head title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam reprehenderit, perspiciatis quae, a esse animi numquam molestias quam aliquam accusamus! .</p>
                    </div>
                </div>

                <div class="card card3">
                    <div class="container">
                        <img src="/project/home/static/image/Picture3.jpg" alt="nkc">
                    </div>
                    <div class="details">
                        <h3>Head title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam reprehenderit, perspiciatis quae, a esse animi numquam molestias quam aliquam accusamus! .</p>
                    </div>
                </div>

                <div class="card card3">
                    <div class="container">
                        <img src="/project/home/static/image/Picture3.jpg" alt="nkc">
                    </div>
                    <div class="details">
                        <h3>Head title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam reprehenderit, perspiciatis quae, a esse animi numquam molestias quam aliquam accusamus! .</p>
                    </div>
                </div>

                <div class="card card3">
                    <div class="container">
                        <img src="/project/home/static/image/Picture3.jpg" alt="nkc">
                    </div>
                    <div class="details">
                        <h3>Head title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam reprehenderit, perspiciatis quae, a esse animi numquam molestias quam aliquam accusamus! .</p>
                    </div>
                </div>

                <div class="card card3">
                    <div class="container">
                        <img src="/project/home/static/image/Picture3.jpg" alt="nkc">
                    </div>
                    <div class="details">
                        <h3>Head title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam reprehenderit, perspiciatis quae, a esse animi numquam molestias quam aliquam accusamus! .</p>
                    </div>
                </div>

                <div class="card card3">
                    <div class="container">
                        <img src="/project/home/static/image/Picture3.jpg" alt="nkc">
                    </div>
                    <div class="details">
                        <h3>Head title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam reprehenderit, perspiciatis quae, a esse animi numquam molestias quam aliquam accusamus! .</p>
                    </div>
                </div>

                <div class="card card3">
                    <div class="container">
                        <img src="/project/home/static/image/Picture3.jpg" alt="nkc">
                    </div>
                    <div class="details">
                        <h3>Head title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam reprehenderit, perspiciatis quae, a esse animi numquam molestias quam aliquam accusamus! .</p>
                    </div>
                </div>
                
    </div>
</body>
</html>