{% extends 'home/base.html' %}
{% load static %}
{% block content %}
{% if status %} 
  {% if status == 'alert' %}
  <script>
    const Alert = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
    } 
  })
  Alert.fire({
      icon: 'warning',
      title: 'Please fill in the blank'
    })
  </script>
  {% else %}
    <script>
      const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
      } 
    })
      Toast.fire({
        icon: 'success',
        title: 'Successfully'
      })
      const form = document.getElementById('ContactFrom');
        form.addEventListener('submit', function handleSubmit(event) {
          event.preventDefault();
          form.reset();
        });

    </script>
  {% endif %}
{% endif %}
<style>
    *, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to right, #022642 0%, #145383 80%);
  font-size: 12px;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1.4px;
  text-shadow: white;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: auto;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #f0ebed;
  font-size: 28px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 190px;
  height: 4px;
  background: #2e74f6;
}

.app-contact {
  margin-top: auto;
  font-size: 11px;
  color: rgb(182, 167, 167);
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: rgb(196, 171, 171);
}

.app-form-button {
  background: none;
  border: none;
  color: #15c7fe;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #07696e;
}
.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

</style>
<body>
<div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>CONTACT US</span>
            </div>
            <div class="app-contact">CONTACT INFO : +66 (0)2-704-0012</div>
          </div>
          <div class="screen-body-item">
              <form method="POST" id="ContactFrom">
                  {% csrf_token %}
                <div class="app-form">
                    <div class="app-form-group">
                      <label for="name" style="font-size: smaller;color: aliceblue;">Name</label>
                      <input type="text" class="app-form-control" name="name" id="name">
                    </div>
                    <div class="app-form-group">
                      <label for="email" style="font-size: smaller;color: aliceblue;">Email</label>  
                      <input type="email" class="app-form-control"  name="email" id="email">
                    </div>
                    <div class="app-form-group">
                      <label for="name" style="font-size: smaller;color: aliceblue;">Subject</label>
                      <input type="text" class="app-form-control"  name="subject" id="subject">
                    </div>
                    <div class="app-form-group message">
                      <label for="name" style="font-size: smaller;color: aliceblue;">Detail</label>
                      <textarea class="app-form-control" name="detail" style="height: 7rem;" id="detail"></textarea>
                    </div>
                    <div class="app-form-group buttons">
                      <button class="app-form-button" id="submit" name="submit">SEND</button>
                    </div>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
{% endblock content %}