{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<body>
    <style>.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: auto;
      }</style>
    <div class="container pt-1">
        <div class="row">
          <div class="col">
            <img class="center" src="{% static 'image/LOGO.ico' %}" alt="logo" width="150" height="150">
            <p class="text-center">Dairiki (Thailand) Co., Ltd.</p>
            <p class="text-center">นโยบายคุณภาพ</p>
            <div class="row">
                <div class="col">
                    <p class="text-center">เน้นความปลอดภัย</p>
                    <p class="text-center">ใส่ใจคุณภาพ</p>
                    <p class="text-center">ส่งงานตรงเวลา</p>
                    <p class="text-center">ลูกค้าพึงพอใจ</p>
                </div> 
                <div class="col">
                    <p class="text-center">Security</p>
                    <p class="text-center">Quality Conscious</p>
                    <p class="text-center">Submit work on time</p>
                    <p class="text-center">Satisfied Customers</p>
                </div>
            </div>
          </div>
          <div class="col">
            <h1 class="text-center">SERVICES</h1>
          </div>
        </div>
        <div class="row">
            <div class="col">
               
            </div>
        </div>
      </div>
</body>

{% endblock content %}